// Colors
$black-1: #151515
$grey-1: #DDDDDD
$white-1: #F3F4F5
$red-1: #BF0000
$beige-1: #D7B58F
$beige-2: #AA7F4F

// Tokens colors
$bg-color: $black-1
$primary-color: $white-1
$secondary-color: $grey-1
$terciary-color: $beige-1
$quadratary-color: $beige-2
$highlight-color: $red-1

// Typography
$font-family-base: 'Poppins', sans-serif
$font-weight-base: 400
$font-size-base: 16px

// Font sizes

// Title 1

$title-1-desktop: 48px
$title-1-tablet: 42px
$title-1-mobile: 32px

// Title 2

$title-2-desktop: 36px
$title-2-tablet: 32px
$title-2-mobile: 26px

// Title 3

$title-3-desktop: 28px
$title-3-tablet: 24px
$title-3-mobile: 20px

// Navlinks

$navlinks-1-desktop: 18px
$navlinks-1-tablet: 17px
$navlinks-1-mobile: 16px

// Burger Navlinks

$burger-navlinks-1: 24px

// Paragraph

$paragraph-1-desktop: 18px
$paragraph-1-tablet: 17px
$paragraph-1-mobile: 16px

// Borders
$border-radius-1: 10px
$border-radius-2: 20px

// Tokens borders
$border-radius-s: $border-radius-1
$border-radius-m: $border-radius-2
